<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" th:href="@{/favicon.ico}">
    <title>OpBeans</title>
    <link th:href="@{/css/opbeans.css}" rel="stylesheet">
</head>
<body>
    <div id="root"></div>
    <script type="text/javascript" th:src="@{/js/opbeans.js}"></script>
</body> 
</html>